* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #19181a;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}

.header {
  background-color: #828e99;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  color: rgb(83, 7, 7); 
}


.nav-link::after {  
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  height: 2px;
  background-color: rgb(83, 7, 7);
  opacity: 0;
  transition: .5s;
}

.main {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: calc(100% - 20px);
  padding-bottom: 35px;
  border-bottom: 1px solid #6d3131;
}

.section-education {
  border-bottom: 0;
}   

.section-english {
  border-bottom: 0;
}

.section-title {
  margin-bottom: 20px;  
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #828e99;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #d7d1c9;
}

.pre {
  padding: 0;
  margin: 0;
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;  
  text-transform: uppercase;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  color: #4d2323;
  font-size: 32px;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 50px;
  word-spacing: 3px;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 2px;
  background-color: #829985;
}

.section-subtitle {
  margin-top: 20px;
  color: #5c5c5c;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 2px;
}

.section-profile-logo:hover {
  filter: none;
}

.section-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}

.section-item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px; 
  background-size: 14px 14px;

}

.footer {
  background-color: #828e99;
  padding: 20px;  
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: rgb(83, 7, 7);
}

.github {
  color: rgb(83, 7, 7);
  text-decoration: none;
  line-height: 45px;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/img/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}





