* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:hover{text-decoration: none;}
ul li{list-style: none;}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  width: 1280px;
}

.header {
  position: absolute;
  width: 1200px;
  height: 60px;
  left: calc(50% - 1200px/2);
  top: 60px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #F1CDB3
}

.header-logo{
  position: absolute;
  width: 184px;
  height: 60px;
  left: 0px;
  top: 0px;
} 

h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #F1CDB3;
}
p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
}
.subtitle {
  color: #FFFFFF;
}

.nav-menu {
  position: absolute;
  width: 443px;
  height: 27px;
  left: 757px;
  top: 16px;
  
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.nav-item {
  color: #FFFFFF;
}
/*
.nav-menu {
  position: absolute;
  width: 443px;
  height: 27px;
  left: 757px;
  top: 16px;
  
}

nav li {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  margin: 0 18px;
  color: #CDCDCD;

}  */

.start-screen {
  position: absolute;
  height: 908px;
  left: 0%;
  right: 0%;
  top: 0px;
  
}

.start-screen-content {
  position: relative;
  width: 1200px;
  height: 728px;
  left: 40px;
  top: 180px;
  
}

.content {
  position: absolute;
  width: 460px;
  height: 322px;
  left: 0px;
  top: 163px;
}

h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
} 

.heading {
  position: absolute;
  width: 310px;
  height: 114px;
  left: calc(50% - 310px/2 - 75px);
  bottom: 208px;
}

.subheading {
  position: absolute;
  width: 460px;
  height: 72px;
  left: calc(50% - 460px/2);
  bottom: 94px;
}

p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.button-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;

}

.button-primary {
  position: absolute;
  width: 207px;
  height: 52px;
  left: calc(50% - 207px/2 - 126.5px);
  bottom: 0px;
  background: #F1CDB3;
  border-radius: 100px;

  font-size: 17px;
}


.start-screen-puppy{
  position: absolute;
  width: 698px;
  height: 728px;
  left: calc(50% - 698px/2 + 251px);
  bottom: 0px;
  
}


.about-img {
  position: absolute;
  height: 588px;
  left: 0%;
  right: 0%;
  top: 908px;
}

.about-content{
  position: absolute;
  width: 1200px;
  height: 408px;
  left: calc(50% - 1200px/2);
  top: calc(50% - 408px/2 - 10px);
}

.about-pets {
  position: absolute;
  width: 300px;
  height: 408px;
  left: 175px;
  top: 0px;
}

.content-text {
  position: absolute;
  width: 430px;
  height: 380px;
  left: 595px;
  top: 14px;
}

.heading-about {
  position: absolute;
  width: 370px;
  height: 90px;
  left: 0px;
  top: 0px;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
}

.subheading-text {
  position: absolute;
  width: 430px;
  height: 96px;
  left: 0px;
  top: 115px;
}

p  {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.subheading-text1 {
  position: absolute;
  width: 430px;
  height: 144px;
  left: 0px;
  top: 236px;
}

.our-friends {
  position: absolute;
  height: 877px;
  left: 0%;
  right: 0%;
  top: 1496px;
}

.pets-content {
  position: absolute;
  width: 1200px;
  height: 697px;
  left: calc(50% - 1200px/2);
  top: 80px;
}

.pets-heading {
  position: absolute;
  width: 400px;
  height: 90px;
  left: 400px;
  top: 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
}

.slider {
  position: absolute;
  width: 1200px;
  height: 435px;
  left: 0px;
  top: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  height: 435px;
  left: 105px;
  top: 0px;
  background: #FAFAFA;
  position: absolute;
}
.pet-name {
  
  width: 74px;
  height: 23px;
  left: 98px;
  top: 300px;
}

.pet-name  {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}

.btn-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  left: 41.5px;
  top: 353px;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 270px;
  height: 435px;
  left: 465px;
  top: 0px;
  background: #FAFAFA;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 270px;
  height: 435px;
  left: 68.75%;
  right: 8.75%;
  top: 0%;
  bottom: 0%;
  background: #FAFAFA;
}

.btn-get {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 45px;

  position: absolute;
  width: 261px;
  height: 52px;
  left: 470px;
  top: 645px;
  background: #F1CDB3;
  border-radius: 100px;
}

.btn-get {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.button-arrow {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 0px;
  top: 192px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 50%
}

.button-arrow1 {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 0px;
  top: 192px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 50%;
  transform: rotate(-180deg);

}
 
.help-pets {
  position: absolute;
  height: 611px;
  left: 0%;
  right: 0%;
  top: 2373px;
  background: #FFFFFF;
}

.help-content {
  position: absolute;
  width: 1200px;
  height: 431px;
  left: calc(50% - 1200px/2);
  top: 80px;

}

.help-heading {
  position: absolute;
  width: 308px;
  height: 90px;
  left: 446px;
  top: 0px; 
  display: flex;
  align-items: center;
  text-align: center;
}

.list-items {
  position: absolute;
  width: 1026px;
  height: 281px;
  left: 87px;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pet-food {
  position: absolute;
  width: 82px;
  height: 113px;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-pet-food {
  position: absolute;
  left: 10.12%;
  right: 10.12%;
  top: 0%;
  bottom: 0%;
  background: #F1CDB3;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
}

.pet-help {
  position: absolute;
  width: 82px;
  height: 23px;
  left: 0px;
  top: 90px;
}

.transportation {
  position: absolute;
  width: 150px;
  height: 113px;
  left: 202px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-transportation {
  position: absolute;
  width: 59.95px;
  height: 60px;
  left: calc(50% - 59.95px/2 - 0.05px);
  top: calc(50% - 60px/2);
  background: #F1CDB3;
}

.pet-help1 {
  position: absolute;
  width: 150px;
  height: 23px;
  
  top: 90px;
}

.toys {
  position: absolute;
  width: 60px;
  height: 113px;
  
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.icon-toys {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 60px/2);
  top: calc(50% - 60px/2);
  background: #F1CDB3;
}

.pet-help2 {
  position: absolute;
  width: 46px;
  height: 23px;
  top: 90px;
}

.bowls-and-cups {
  position: absolute;
  width: 153px;
  height: 113px;
  left: 652px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-bowls-and-cups {
  position: absolute;
  width: 60px;
  height: 56.82px;
  left: calc(50% - 60px/2);
  top: calc(50% - 56.82px/2 + 0.41px);
  background: #F1CDB3;
}

.pet-help3 {
  position: absolute;
  width: 153px;
  height: 23px;
  top: 90px;
}

.shampoos {
  position: absolute;
  width: 101px;
  height: 113px;
  left: 925px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-shampoos {
  position: absolute;
  width: 31.3px;
  height: 60px;
  left: calc(50% - 31.3px/2 - 0.7px);
  top: calc(50% - 60px/2);
  background: #F1CDB3; 
}

.pet-help4 {
  position: absolute;
  width: 101px;
  height: 23px;
  top: 90px;
}

.vitamins {
  position: absolute;
  width: 89px;
  height: 113px;
  left: 84px;
  top: 168px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-vitamins {
  position: absolute;
  width: 60px;
  height: 54.16px;
  left: calc(50% - 60px/2);
  top: calc(50% - 54.16px/2 + 0.08px);
  background: #F1CDB3;
}

.pet-help5 {
  position: absolute;
  width: 89px;
  height: 23px;
  top: 88px;
}

.medicines {
  position: absolute;
  width: 101px;
  height: 113px;
  left: 293px;
  top: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-medicines {
  position: absolute;
  width: 60px;
  height: 60px;
  left: calc(50% - 60px/2 - 0px);
  top: calc(50% - 60px/2);
  background: #F1CDB3;
}

.pet-help6 {
  position: absolute;
  width: 101px;
  height: 23px;
  
  top: 88px;
}

.collars {
  position: absolute;
  width: 165px;
  height: 113px;
  left: 514px;
  top: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-collars {
  position: absolute;
  width: 60px;
  height: 52.43px;
  left: 0px;
  top: 4px;
}

.pet-help7 {
  position: absolute;
  width: 165px;
  height: 23px;
  top: 88px; 
}

.sleeping-area {
  position: absolute;
  width: 143px;
  height: 113px;
  left: 799px;
  top: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-sleeping-area {
  position: absolute;
  width: 56.29px;
  height: 60px;
  left: calc(50% - 56.29px/2 + 0.29px);
  top: calc(50% - 60px/2);
}

.pet-help8 {
  position: absolute;
  width: 143px;
  height: 23px;
  top: 88px;
}

.donation {
  position: absolute;
  height: 462px;
  left: 0%;
  right: 0%;
  top: 2984px;
}

.donation-content {
  position: relative;
  width: 915px;
  height: 282px;
  left: calc(50% - 915px/2 + 0.5px);
  top: 80px;
}

.donation-dog {
  position: absolute;
  width: 505px;
  height: 261px;
  left: 0px;
  top: 11px;
}

.dog-content {
  position: absolute;
  width: 380px;
  height: 282px;
  left: 535px;
  top: 0px;
  color: #545454;
}

.dog-heading {
  position: absolute;
  width: 300px;
  height: 90px;
  left: 0px;
  top: 0px;
}

.dog-sub {
  position: absolute;
  width: 307px;
  height: 17px;
  left: 0px;
  top: 110px;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
}
.credit-card {
  position: absolute;
  width: 349px;
  height: 43px;
  left: 0px;
  top: 147px;
}

.text {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.text {
  position: absolute;
  width: 380px;
  height: 72px;
  left: 0px;
  top: 210px; 
  color: #B2B2B2;
}

.footer {
  position: absolute;
  height: 350px;
  left: 0%;
  right: 0%;
  top: 3446px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-content {
  position: absolute;
  width: 1200px;
  height: 310px;
  left: 40px;
  top: 40px;
}

.contacts {
  position: relative;
  width: 278px;
  height: 234px;
  left: 0px;
  top: 16px;
  display: flex;
  flex-direction: column;
  
  
}

.title {
  position: absolute;
  width: 278px;
  height: 90px;
  left: calc(50% - 278px/2 - 0px);
  top: 0px;
  color: #FFFFFF;
}

.email {
  position: absolute;
  width: 251px;
  height: 32px;
  left: 0px;
  top: 130px;
  display: flex;
  flex-wrap: nowrap;
}

.icon-email {
  position: absolute;
  width: 40px;
  height: 26px;
  left: calc(50% - 40px/2);
  top: calc(50% - 26px/2 - 0px);
  background: #F1CDB3;
}

.email-text {
  position: absolute;
  width: 191px;
  height: 23px;
  left: calc(50% - 191px/2 + 36.5px);
  
  color: #F1CDB3;
}

.phone {
  position: absolute;
  width: 239px;
  height: 32px;
  left: 0px;
  top: 202px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.icon-phone {
  position: absolute;
  width: 40px;
  height: 32px;
  left: 0px;
  top: 0px;

}

.phone-text {
  position: absolute;
  width: 179px;
  height: 23px;
  left: calc(50% - 179px/2 + 30.5px);
  color: #F1CDB3;
}

.locations {
  position: absolute;
  width: 302px;
  height: 234px;
  left: 438px;
  top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-text {
  position: absolute;
  width: 270px;
  height: 90px;
  left: calc(50% - 270px/2 - 15px);
  top: 0px;
  color: #FFFFFF
}

.boston {
  position: absolute;
  width: 302px;
  height: 46px;
  left: 0px;
  top: 124px;
  display: flex;
  flex-wrap: nowrap;
}

.pin {
  position: absolute;
  width: 22px;
  height: 32px;
  left: 0px;
  top: 0px;
  background: #F1CDB3;
}

.boston-text {
  position: absolute;
  width: 260px;
  height: 46px;
  left: calc(50% - 260px/2 + 21px);
  color: #F1CDB3;
}  

.london {
  position: absolute;
  width: 302px;
  height: 32px;
  left: 0px;
  top: 202px;
  display: flex;
  flex-wrap: nowrap;
}



.london-text{
  position: absolute;
  width: 260px;
  height: 23px;
  left: calc(50% - 260px/2 + 21px);
  color: #F1CDB3;
}

.footer-puppy {
  position: absolute;
  width: 300px;
  height: 310px;
  left: calc(50% - 300px/2 + 450px);
  top: 0px;
 
}
































/*
.card, .card .btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #ccc;
  width: 300px;
  height: 435px;
}

.card img {
  border-radius: 10px;
}

.card .pet-name {
  font-size: 30px;
}

.card .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 45px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-size: 18px;
}

.card:hover {
  cursor: pointer;
  background-color: #a6a6a6;
}

.card:hover .btn {
  background-color: #FDDCC4;
  border: 2px solid transparent;
  cursor: pointer;
} */
/*# sourceMappingURL=style.css.map */